{% extends "layout/base.html" %}

{% block main_content %}

	<div id="container">

	{% for post in latest_posts %}
		<article class="box">
			
			<aside class="data">
        		<span class="mes">{{ post.date_updated|br_month }}</span>
        		<span class="dia">{{ post.date_updated.strftime('%d') }}</span>
     		</aside>
			
			<hgroup class="conteudo">
         		<h2 class="titulo"><a href="{{ post.link }}">{{ post.title }}</a></h2>
				{# TODO: translate 'por' #}
            	<h3 class="autor"><a href="{{ post.member.blog }}">por {{ post.member.name }}</a></h3> 
        	</hgroup>
        	
        	<section class="avatar">
        		<a href="{{ post.member.blog }}"><img src="{{ post.author_email | gravatar }}" 
					alt="Picture of {{ post.member.name }}" /></a>
        	</section>
		
		</article>

	{% endfor %}
    {# #}
	<div id="paginacao">
		{% for page in pagination.iter_pages() %}
			{% if page %}
				{% if page != pagination.page %}
					<a href="/?page={{ page }}">{{ page }}</a>
				{% else %}
					<strong>{{ page }}</strong>
		      	{% endif %}
		    {% else %}
		    	<span id=pontos>…</span>
		    {% endif %}
		{% endfor %}

		{% if pagination.has_next %}
			<a href="/?page={{pagination.page + 1}}"> - Pr&oacute;xima &raquo;</a>
		{% endif %}
	</div>
    
	</div><!-- fim #container -->

{% endblock %}
