{% extends "layout/base.html" %}
{% block main_content %}

<div id="entries-container">


		{% for entry in sorted_entries %}

			<div class="entry-container">

				<div class="entry-left">
					
					<a class="entry-title"href="{{ entry.link }}"> {{ entry.title }} </a> 
					<br />
					<br />
					por <a href="{{ entry.link }}">{{ entry.author.name }}</a> 
					em {{ entry.date|dateformat }} às {{ entry.date|timeformat }} <br />
				</div> <!-- /entry-left -->

				<div class="entry-right">
					<a href="{{ entry.author.blog }}">
						<img src="{{ entry.author.email | gravatar }}" />
					</a>
				</div>

			</div> <!-- /entry-container -->

		{% endfor %}

</div> <!-- /#entries-container-->

{% endblock %}