Flask==0.6.1
Jinja2==2.5.5
Werkzeug==0.6.2
wsgiref==0.1.2

feedparser==5.0.1

feedformatter==0.4

peewee==0.3.2

Flask-Gravatar==0.2.2
Flask-FlatPages==0.1

PyYAML==3.09

## Dev Enviroment only
# bpython
# yolk
