<!doctype html>
<html lang="pt-br">

	<head>
		<meta charset=utf-8>
		<title>{% block head_title %}#beerblogging{% endblock %}</title>

		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/reset.css') }}">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">

	</head>

	<body>

		<header id="header">
			{% include "layout/header.html" %}		

				<ul>
					<li><a href="/">POSTS</a> - </li>
					<li><a href="/sobre/">SOBRE</a> - </li>				
					<li><a href="/contato/">CONTATO</a></li>								
				</ul>
			
		</header>


		<section id="content">
			{% block main_content %}{% endblock %}
		</section>
		
		<footer id="footer">
			{% include "layout/footer.html" %}		
		</footer>

	</body>

</html>
