
#pizza {
	position: absolute; 
    width: 100%;
    height: 100%;
	top: 0; 
	right: 0; 
	border: 0;
}


/* --- Fontes --- */

.yanone {
	font-family: 'Yanone Kaffeesatz', serif;
	font-variant: normal;
	font-weight: 400;
	text-transform: none;
	line-height: 1;
}

.amaranth {
	font-family: 'Amaranth', serif;
	font-variant: normal;
	font-weight: bold;
	text-align: center; 
	text-transform: none; 
}

/* --- Github --- */

#github img {
	position: absolute; 
	top: 0; 
	right: 0; 
	border: 0;
}

/* --- Header --- */

header {
	width: 870px;
	position: relative;
	top: 0;
	left: 50%;
	margin-left: -435px;
}

	/* --- Títulos --- */
	
	h1 {
		width: 700px;
		position: absolute;
		top: 35px; 
		left: 50%;
		margin-left: -350px;
	}
	
	h1 a {
		font-size: 108px;
		color: #888; 
		text-shadow: 1px 1px white, -1px -1px #666;
		transition: opacity 0.5s ease-in-out; 
		-webkit-transition: opacity 0.5s ease-in-out; 
		-moz-transition: opacity 0.5s ease-in-out;
	}
	
	h1 a:hover {
		text-shadow: 1px 1px white, -1px -1px #666;
		color: #888; 
		opacity: 0.7;
	}
	
	/* --- Links --- */
	
	#wtf, #rss {
		position: absolute;
		top: 10px;
		font-size: 20px;
		color: #888;
	}

	#wtf {
		left: 0;
	}

	#rss {
		right: 0;
	}
	
	#wtf a, #rss a {
		transition: color 0.5s ease-in-out; 
		-webkit-transition: color 0.5s ease-in-out; 
		-moz-transition: color 0.5s ease-in-out;
		color: #888;
	}
	
	#wtf a:hover, #rss a:hover {
		color: #333;
	}
	
/* --- Conteúdo --- */

#container {
	width: 870px;
	margin: 0 auto;
}
#container-cookies {
	width:100%;
	margin: 0 auto;
}

	/* --- Box --- */

	.box {
	   float: left;
	   width: 870px;
	   height: 110px;
	   padding: 10px;
	   margin-bottom: 30px;
	   border: 1px solid #fff;
	   background: #fff;
	   -webkit-border-radius: 10px;
	   -moz-border-radius: 10px;
	   -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.20), rgba(0,0,0,0.12) 0px 0px 10px inset;
	   -moz-box-shadow: 0 3px 3px rgba(0,0,0,0.20), rgba(0,0,0,0.12) 0px 0px 10px inset;
	}
	
		/* --- Data --- */
	
		.data {
			float: left;
			width: 65px;
			height: 81px;
			font-size: 24px;
			background-image: url(../img/date-bg.gif);
			margin: 15px 0 0 15px;
			line-height: 1.2;
		}
	
		.data span {
			float: left;
			width: 65px;
			text-transform: uppercase;
		} 
	
		.mes {
			color: #fff;
			text-shadow: 1px 1px #444;
			padding: 2px 0 0 20px;
		}
		
		.dia {
			color: #666;
			font-size: 30px;
			padding: 0 0 0 20px;
		}
		
		/* --- Conteúdo --- */
		
		.conteudo {
			float: left;
			width: 680px;
		}
		
		/* --- Titulo --- */
		
		.titulo {
			float: left;
			font-size: 36px;
			margin: 15px 0 0 15px;
		}
	
		.titulo a, .autor a {
			font-weight: normal;
			transition: color 0.5s ease-in-out; 
			-webkit-transition: color 0.5s ease-in-out; 
			-moz-transition: color 0.5s ease-in-out;
			color: #666;
		}
		
		.titulo a:hover, .autor a:hover {
			color: #333;
		}
		
		.autor {
			float: left;
			font-size: 18px;
			margin: 5px 0 0 15px;
			clear: both;
		}

		/* --- Avatar --- */
	
		.avatar {
			float: right;
			margin: 10px 25px 0 0;
			width: 75px;
			height: 75px;
		}
	
		.avatar img {
			background: #F2F2F2;
			border: 2px solid #CECDCD;
			padding: 5px;
			-webkit-transition: border 0.2s linear;
			-moz-transition: border 0.2s linear;
			transition: border 0.2s linear
		}
	
		.avatar img:hover {
			border: 2px solid #E0BC20;
		}
	
		

/* --- Fundo --- */

.fundo {
	background: #cc9933; /* Old browsers */
	background: -moz-linear-gradient(left, #cc9933 0%, #e0bc20 14%, #e0bc20 29%, #e0bc20 43%, #e0bc20 57%, #e0bc20 71%, #d6ae21 86%, #bb8822 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#cc9933), color-stop(14%,#e0bc20), color-stop(29%,#e0bc20), color-stop(43%,#e0bc20), color-stop(57%,#e0bc20), color-stop(71%,#e0bc20), color-stop(86%,#d6ae21), color-stop(100%,#bb8822)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #cc9933 0%,#e0bc20 14%,#e0bc20 29%,#e0bc20 43%,#e0bc20 57%,#e0bc20 71%,#d6ae21 86%,#bb8822 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #cc9933 0%,#e0bc20 14%,#e0bc20 29%,#e0bc20 43%,#e0bc20 57%,#e0bc20 71%,#d6ae21 86%,#bb8822 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(left, #cc9933 0%,#e0bc20 14%,#e0bc20 29%,#e0bc20 43%,#e0bc20 57%,#e0bc20 71%,#d6ae21 86%,#bb8822 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc9933', endColorstr='#bb8822',GradientType=1 ); /* IE6-9 */
	background: linear-gradient(left, #cc9933 0%,#e0bc20 14%,#e0bc20 29%,#e0bc20 43%,#e0bc20 57%,#e0bc20 71%,#d6ae21 86%,#bb8822 100%); /* W3C */
}

/* --- Bolhas --- */

.cookie {
	overflow: hidden;
	width: 100%;
	height: 100%;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0px;
    background: #fff;
    border-radius: 10px 10px 10px 10px;
    height: 10px;
    width: 10px;
    z-index: -1;
}

#beer {
	overflow: hidden;
	width: 100%;
	height: 100%;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 250px;
    z-index: -1;
    -moz-transition: opacity 0.5s linear 0s;
}

.bolha #beer {
    opacity: 1;
}

#beer .bubble {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    position: absolute;
}

#beer .b1-container, #beer .b2-container, #beer .b3-container, #beer .b4-container {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

#beer .b1 {
    border-radius: 10px 10px 10px 10px;
    height: 10px;
    width: 10px;
}
#beer .b2 {
    border-radius: 8px 8px 8px 8px;
    height: 6px;
    width: 6px;
}
#beer .b3 {
    border-radius: 4px 4px 4px 4px;
    height: 8px;
    width: 8px;
}
#beer .b4 {
    border-radius: 6px 6px 6px 6px;
    height: 4px;
    width: 4px;
}

/* --- WTF --- */

.container-wtf #beer {
	height: auto;
	overflow: hidden;	
}

#conteudo-wtf {
	display: block;
	/*overflow: hidden;*/
	float: left;
	width: 870px;
	height: 160px;
	padding: 10px;
	margin-bottom: 30px;
	border: 1px solid #fff;
	background: #fff;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.20), rgba(0,0,0,0.12) 0px 0px 10px inset;
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.20), rgba(0,0,0,0.12) 0px 0px 10px inset;
}

h4 {
	font-size: 60px;
	text-align: center;
	padding: 10px;
}

h5 {
	font-size: 52px;
	text-align: center;
	padding: 10px;
	color: #999;
}
